<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Smart Analytics Chart</title>

  <%= (() => {
    if (htmlWebpackPlugin.options.isMobile) {
      return '<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">'
    } else {
      return '<meta name="viewport" content="width=device-width,initial-scale=1.0">'
    }
  })() %>
</head>
<body>
  <div class="app">
    <div class="header">
      <div class="navigation" id="navbar">
        <ul class="list">
          <li class="item"><a id="home">Home</a></li>
          <li class="item"><a id="mouseClick">MouseClick Chart</a></li>
          <li class="item"><a id="mouseMove">MouseMove Chart</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="home" id="contentHome">
        this is home
      </div>
      <div class="chart">
        <div class="mouse_click_chart_area" id="contentMouseClick" style="display: none">
          asd<div id="mouse_click_chart"></div>
        </div>
        <div class="mouse_move_chart_area" id="contentMouseMove" style="display: none">
          asd<div id="mouse_move_chart"></div>
        </div>
      </div>
    </div>
    <%= (() => {
      if (htmlWebpackPlugin.options.isMobile) {
        return '<div class="footer">Mobile</div>'
      } else {
        return '<div class="footer">Desktop</div>'
      }
    })() %>
  </div>
</body>
</html>
